@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* div{
  border: 1px solid red;
} */

.three{
  column-width:270px;
  column-gap: 15px;
}

.imgBlock{
  display: inline-block;
  margin:0;
  padding:0px 10px 0px 10px;
}

.imgBlock img{
  width: 100%;
  padding-bottom: 5%;
}



body{
  background-color: #d9d9d9;
  font-family: 'Roboto', 'Nanum Gothic', sans-serif;
  font-size: 15px;
}

.top{
  width: 100%;
  height: 100px;
}

.left{
  float: left;
  width: 10%;
}

a, a:link, a:visited{
  display: block;
  color: black;
  text-decoration: none;
}

.left a:hover{
  font-weight: 700;
}

.middle{
  float: left;
  width: 80%;
}

.middle .main-img{
  display: block;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.right{
  display: inline-block;
  float: right;
  width: 10%;
}

.right img{
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 25px;
  float: right;
}

#logo-right{
  width: 100px;
  float: right;
  position: relative;
  top: -75px;
}

.icon:hover{
  width: 26px;
}

/*This is for design.html*/
h2 ~ img{
  width: 100%;
  padding-bottom: 10px;
}

button{
  appearance: none;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width:7%;
  min-width: 50px;
}

button img{
  width: 20px;
}

button img:hover{
  width: 22px;
}

button:focus{
  outline: none;
}

@media (max-width : 991px){
  .right img{
    display: block;
    margin-left: 50%;
    margin-bottom: 5%;
    width: 25px;
    float: right;
  }
}
